In [1]:
import pandas as pd
import basedosdados as bd
import csv

# Para carregar o dado direto no pandas
df = bd.read_table(dataset_id='br_sp_seduc_idesp',
table_id='diretoria',
billing_project_id="universal-chain-387023")

Downloading: 100%|██████████| 819/819 [00:00<00:00, 2636.57rows/s]

# Índice de Desenvolvimento da Educação do Estado de São Paulo(IDESP)

#### O IDESP é um indicador que avalia a qualidade da escola. Nesta avaliação, considera–se que uma boa escola é aquela em que a maior parte dos alunos aprende as competências e habilidades requeridas para a sua série/ano, num período de tempo ideal – o ano letivo. O IDESP é composto por dois critérios: o desempenho dos alunos nos exames de proficiência do SARESP (o quanto aprenderam) e o fluxo escolar (em quanto tempo aprenderam).

## Base de dados coletada

In [2]:
display(df)

,ano,diretoria,id_diretoria,nota_idesp_ef_iniciais,nota_idesp_ef_finais,nota_idesp_em
0,2011,ADAMANTINA,20901,NaN,2.72,1.97
1,2012,ADAMANTINA,20901,NaN,2.71,2.19
2,2013,ADAMANTINA,20901,NaN,2.77,2.14
3,2014,ADAMANTINA,20901,NaN,2.92,2.18
4,2015,ADAMANTINA,20901,NaN,3.46,2.74
...,...,...,...,...,...,...
814,2019,TAQUARITINGA,20511,6.35,4.12,2.87
815,2019,TAUBATE,20206,NaN,3.70,2.99
816,2019,TUPA,21006,5.87,3.43,2.27
817,2019,VOTORANTIM,20310,5.64,4.03,2.80
818,2019,VOTUPORANGA,20711,6.39,4.19,3.11

In [3]:
#listas com o tipo de variavel conforme os dados das colunas.

coluna_inteiro = ['ano']
coluna_string = ['diretoria','id_diretoria']
coluna_float = ['nota_idesp_ef_iniciais','nota_idesp_ef_finais','nota_idesp_em']

#Coluna e dados que o usuario deve informar, para que seja feito a consulta no DataFrame.
coluna = input("Digite a coluna: ")
dado = input("Digite o dado: ")

coluna = coluna.lower()
dado = dado.upper()

#condicional para prosseguir na consulta e trazer o dado sem quebra do codigo
if coluna in coluna_inteiro:
    df_definitivo = df.loc[df[coluna] == int(dado)]
    
elif coluna in coluna_string:
    df_definitivo = df.loc[df[coluna] == dado]
    
else:
    df_definitivo = df.loc[df[coluna] == float(dado)]

display(df_definitivo)

Digite a coluna: diretoria
Digite o dado: adamantina

,ano,diretoria,id_diretoria,nota_idesp_ef_iniciais,nota_idesp_ef_finais,nota_idesp_em
0,2011,ADAMANTINA,20901,NaN,2.72,1.97
1,2012,ADAMANTINA,20901,NaN,2.71,2.19
2,2013,ADAMANTINA,20901,NaN,2.77,2.14
3,2014,ADAMANTINA,20901,NaN,2.92,2.18
4,2015,ADAMANTINA,20901,NaN,3.46,2.74
5,2016,ADAMANTINA,20901,NaN,3.27,2.58
6,2017,ADAMANTINA,20901,NaN,3.31,2.56
637,2018,ADAMANTINA,20901,NaN,3.39,2.59
728,2019,ADAMANTINA,20901,NaN,3.63,2.72

In [4]:
#Exportação da tabela
arquivo = input("Insira um nome para o arquivo: ")
df_definitivo.to_csv(f"C:/Users/bruno/Downloads/{arquivo}.csv", sep=";" , index = False)

Insira um nome para o arquivo: adamantina